<footer class="mt-5">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-4 col-sm-12 text-center py-1">
        <img
          class="img-fluid"
          src="./assets/images/logo-white.png"
          alt="logo"
        />
      </div>
      <div class="col-md-4 col-sm-12 text-center py-1">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Solutions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 text-center py-1">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><img src="./assets/images/Twitter.png"
            /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><img src="./assets/images/Facebook.png"
            /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><img src="./assets/images/LinkedIn.png"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fotter-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>@ 2020 Expert Apps, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
