<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-100" appearance="fill">
    <input matInput placeholder="title" formControlName="title" />
  </mat-form-field>

  <mat-form-field class="w-100" appearance="fill">
    <textarea matInput placeholder="body" formControlName="body"> </textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>

  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
