<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <p>{{ dataSource?.filteredData.length }} Posts</p>
    </div>
    <div class="col-md-6 col-sm-6 text-end">
      <button (click)="addpost()" mat-raised-button color="primary">
        Add Post
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.title }}</span>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef>Body</th>
          <td mat-cell *matCellDef="let element">
            <span>{{ element.body }}</span>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="id">
          <th width="100px" mat-header-cell *matHeaderCellDef>Settings</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="editPost(element.id)" class="btn btn-link">
              <img src="./assets/images/edit-icon.png" alt="edit" />
            </button>
            <button (click)="deletePost(element.id)" class="btn btn-link">
              <img src="./assets/images/delete-icon.png" alt="delete" />
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 20, 30, 40, 50]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
